<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<div class="card" style="text-align: center;width: 80%;border: 1px solid black;margin-left: auto; margin-right: auto;">
    <img class="card-img-top" src="../../../fotos/Angle_view_of_Dubai_Frame.jpg" alt="Card image cap" style="margin-top: 30px;">
    <div class="card-body">
      <h1 class="card-title">{{title}}</h1>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          {{short_info}}
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <div>
            {{description}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <agm-map [latitude]="lat" [longitude]="lng" style="width: auto; height: 500px;" [zoom]="15" [mapTypeId]="mapTypeId">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </li>
    </ul>
    <div class="card-body">
      Share With: 
      <share-button button="facebook" theme="circles-dark" [icon]="fbIcon"></share-button>
      <share-button button="twitter" theme="circles-dark" [icon]="tweetIcon"></share-button>
      <share-button button="pinterest" theme="circles-dark" [icon]="pinIcon"></share-button>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>